.side-panel {
    height: 100%;
    width: 250px;
    top: 0;
    left: 0;
    position: fixed;
    /* overflow-x: hidden; */
    padding-top: 50px;
    background-color: yellow;
}

#logo {
    width: 150px;
    height: 150px;
    display: block;
    border-radius: 50%;
}

.card {
    /* margin-left: 100px; */
    border-radius: 20px;
    background-color: white;
    width: 200px;
    height: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px;
}

.content-sidePanel {
    margin-left: auto;
    margin-right: auto;
}

#toko-hape {
    padding-top: 5px;
    text-align: center;
}

.content {
    display: block;
    padding-left: 250px;
    overflow-x: hidden;  
    justify-content: center;
    align-items: center;
}
.hp{
    display: flex; 
    float: left;
    /* boleh pake flex kahh alternatifnyaa? */
    flex-wrap: wrap;
}

p{
    font-family: 'Franklin Gothic',sans-serif;
    text-align: center;
}
#bandingkan{
    border-radius: 10px;
    background-color: white;
    width: 200px;
    height: 50px;
    font-size: larger;
}
#kembali{
    border-radius: 10px;
    background-color: white;
    width: 200px;
    height: 50px;
    font-size: larger;
}
.nama_hape{
    font-weight: bold;
    font-size: 18px;
}
.spec{
    display: inline;
}
.checked{
    display: inline;
}
.img_hape{
    width: 100px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}